<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>RegExp drill</title>

    <style>
      .title {
        margin-bottom: 24px;
      }

      .constraints {
        margin-bottom: 24px;
      }

      .regexp {
        margin-top: 48px;
        margin-bottom: 240px;
        max-width: 800px;
      }
      .form-container {
        max-width: 800px;
      }

      .is-correct {
        color: green;
      }
      .is-incorrect {
        color: red;
      }

      .links > li.cleared {
        border: 1px solid green;
        background: lightgreen;
      }
      ul.links {
        position: fixed;
        right: 0;
        top: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: calc(100% - 240px);
        overflow: scroll;
        box-shadow: 0px 0px 10px -2px #000;
      }

      ul.links li {
        border: 1px solid lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 48px;
        background: #fff;
        cursor: pointer;
      }
      ul.links li:hover {
        background-color: lightgray;
      }

      .form {
        position: fixed;
        bottom: 0;
        padding: 16px 0;
        background: #fff;
        box-shadow: 0px 4px 20px -3px #353535;
        width: 100%;
      }
      .form textarea {
        height: 120px;
        overflow: scroll;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container regexp">
        <ul class="links">
          <li
            v-for="(score, idx) in scores"
            :class="[!!score ? 'cleared' : 'not-cleared']"
            @click="moveTo(idx)"
          >
            {{idx}}
          </li>
        </ul>
        <h2 class="title">{{this.currentProblemIdx+1}}. {{problem.title}}</h2>
        <ul class="constraints">
          <li v-for="item, idx in problem.constraints">{{item}}</li>
        </ul>

        <p class="hint" v-show="showHint">{{problem.examples[0]}}</p>

        <table class="table table-sm">
          <thead>
            <tr>
              <th>target</th>
              <th>expected</th>
              <td>test</td>
              <td>correctness</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, idx) in problem.data">
              <th>{{item.input}}</th>
              <th>{{item.result}}</th>
              <td>{{matching(item.input)}}</td>
              <td
                :class="[checkAnswer(item.input, item.result) ? 'is-correct' : 'is-incorrect']"
              >
                {{checkAnswer(item.input, item.result)}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <form class="form">
        <div class="container form-container">
          <div class="mb-3">
            <textarea
              v-model="regexp"
              class="form-control"
              id="regexp"
              placeholder="enter regexp"
            ></textarea>
          </div>
          <button
            class="btn btn-primary"
            type="button"
            :disabled="!isAllCorrect"
            @click="next"
          >
            next
          </button>
        </div>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <script>
      window.problems = [
        {
          title: "整数にマッチ",
          constraints: [
            "+/-の符号も対象",
            "符号付き0は対象",
            "先頭に余分な0がついているものは除外",
          ],
          examples: ["^[+-]?(?:0|[1-9]\\d*)$"],
          data: [
            { input: "1", result: "TRUE" },
            { input: "12", result: "TRUE" },
            { input: "123", result: "TRUE" },
            { input: "1234", result: "TRUE" },
            { input: "+12345", result: "TRUE" },
            { input: "-12345", result: "TRUE" },
            { input: "0", result: "TRUE" },
            { input: "+0", result: "TRUE" },
            { input: "-0", result: "TRUE" },
            { input: "0000", result: "FALSE" },
            { input: "09876", result: "FALSE" },
            { input: "-09876", result: "FALSE" },
            { input: "1234.5", result: "FALSE" },
            { input: "7890ab", result: "FALSE" },
            { input: "987x654", result: "FALSE" },
          ],
        },
        {
          title: "10進数整数マッチ",
          examples: ["^(?:0|[+-]?[1-9]\\d*)$"],
          constraints: [
            "+/-の符号も対象",
            "符号付き0は対象",
            "先頭に余分な0がついているものは除外",
          ],
          data: [
            { input: "123", result: "TRUE" },
            { input: "987654321", result: "TRUE" },
            { input: "+12345", result: "TRUE" },
            { input: "-12345", result: "TRUE" },
            { input: "0", result: "TRUE" },
            { input: "+0", result: "TRUE" },
            { input: "-0", result: "TRUE" },
            { input: "0000", result: "FALSE" },
            { input: "09876", result: "FALSE" },
            { input: "-09876", result: "FALSE" },
          ],
        },
        {
          title: "0または4桁以上の10進数の整数",
          constraints: [
            "+/-の符号も対象",
            "符号付き0は対象",
            "先頭に余分な0がついているものは除外",
          ],
          examples: ["^(?:0|[+-]?[1-9]\\d{3,})$"],
          data: [
            { input: "123", result: "FALSE" },
            { input: "987654321", result: "TRUE" },
            { input: "+12345", result: "TRUE" },
            { input: "-12345", result: "FALSE" },
            { input: "0", result: "TRUE" },
            { input: "+0", result: "FALSE" },
            { input: "-0", result: "FALSE" },
            { input: "0000", result: "FALSE" },
            { input: "09876", result: "FALSE" },
            { input: "-09876", result: "FALSE" },
            { input: "1234", result: "TRUE" },
          ],
        },
        {
          title: "前ゼロを含めて4桁以上の10進数の整数にマッチ",
          constraints: ["+/-の符号も対象", "符号付き0は対象"],
          examples: ["^[+-]?\\d{4,}$"],
          data: [
            { input: "123", result: "FALSE" },
            { input: "1234", result: "TRUE" },
            { input: "987654321", result: "TRUE" },
            { input: "+12345", result: "TRUE" },
            { input: "-123", result: "FALSE" },
            { input: "0", result: "FALSE" },
            { input: "+0", result: "FALSE" },
            { input: "-0", result: "FALSE" },
            { input: "0000", result: "TRUE" },
            { input: "+0000", result: "TRUE" },
            { input: "09876", result: "TRUE" },
            { input: "-098", result: "FALSE" },
          ],
        },
        {
          title: "0-100の範囲の整数",
          constraints: [
            "+/-の符号は対象外",
            "先頭に余分な0がついているものは除外",
          ],
          examples: ["^0|[1-9]\\d?|100$"],
          data: [
            { input: "1", result: "TRUE" },
            { input: "12", result: "TRUE" },
            { input: "123", result: "FALSE" },
            { input: "1234", result: "FALSE" },
            { input: "0", result: "TRUE" },
            { input: "00", result: "FALSE" },
            { input: "000", result: "FALSE" },
            { input: "99", result: "TRUE" },
            { input: "100", result: "TRUE" },
            { input: "+98", result: "FALSE" },
            { input: "-1", result: "FALSE" },
            { input: "-76", result: "FALSE" },
          ],
        },
        {
          title: "0-365の範囲の整数",
          constraints: [
            "+/-の符号は対象外",
            "先頭に余分な0がついているものは除外",
          ],
          examples: ["^0|[1-9]\\d?|[12]\\d{2}|3[0-5]\\d|36[0-5]"],
          data: [
            { input: "1", result: "TRUE" },
            { input: "12", result: "TRUE" },
            { input: "123", result: "TRUE" },
            { input: "99", result: "TRUE" },
            { input: "100", result: "TRUE" },
            { input: "200", result: "TRUE" },
            { input: "289", result: "TRUE" },
            { input: "-1", result: "FALSE" },
            { input: "0", result: "TRUE" },
            { input: "356", result: "TRUE" },
            { input: "365", result: "TRUE" },
            { input: "366", result: "FALSE" },
            { input: "001", result: "FALSE" },
            { input: "00", result: "FALSE" },
            { input: "012", result: "FALSE" },
            { input: "432", result: "FALSE" },
          ],
        },
        {
          title: "[-128,127]の範囲の整数",
          constraints: ["先頭に余分な0がついているものは除外"],
          examples: ["^(?:[+-]?(?:0|[1-9]\\d?|1[01]\\d|12[0-7])|-128)"],
          data: [
            { input: "1", result: "TRUE" },
            { input: "12", result: "TRUE" },
            { input: "000", result: "FALSE" },
            { input: "128", result: "TRUE" },
            { input: "200", result: "FALSE" },
            { input: "289", result: "FALSE" },
            { input: "0", result: "TRUE" },
            { input: "-1", result: "TRUE" },
            { input: "-12", result: "TRUE" },
            { input: "-123", result: "TRUE" },
            { input: "-365", result: "FALSE" },
            { input: "001", result: "FALSE" },
            { input: "00", result: "FALSE" },
            { input: "012", result: "FALSE" },
          ],
        },
        {
          title: "小数を含む数字にマッチ",
          constraints: [
            "+/-の符号は対象",
            "先頭に余分な0がついているものは除外",
            "符号付き0は対象",
          ],
          examples: ["^[+-]?(?:0|[1-9]\\d*)(?:\\.\\d*[1-9])?$"],
          data: [
            { input: "1234", result: "TRUE" },
            { input: "+1234", result: "TRUE" },
            { input: "-1234", result: "TRUE" },
            { input: "+0", result: "TRUE" },
            { input: "-0", result: "TRUE" },
            { input: "0000", result: "FALSE" },
            { input: "0987", result: "FALSE" },
            { input: "-0987", result: "FALSE" },
            { input: "12.3", result: "TRUE" },
            { input: "12.34567", result: "TRUE" },
            { input: "123.40", result: "FALSE" },
            { input: "123.0", result: "FALSE" },
            { input: "123.00", result: "FALSE" },
            { input: "+123.45", result: "TRUE" },
            { input: "-123.45", result: "TRUE" },
            { input: "0.123", result: "TRUE" },
            { input: "10.123", result: "TRUE" },
            { input: "01.23", result: "FALSE" },
            { input: "1234.", result: "FALSE" },
            { input: ".1234", result: "FALSE" },
          ],
        },
        {
          title: "小数を含む数字にマッチ",
          constraints: [
            "+/-の符号は対象",
            "先頭に余分な0がついているものは除外",
            "符号付き0は対象",
          ],
          examples: [
            "^[+-]?(?:0|[1-9]\\d*)(?:\\.\\d*[1-9])?(?:E[+-](?:0|[1-9]\\d*))$",
          ],
          data: [
            { input: "1.23", result: "TRUE" },
            { input: "1.23E+4", result: "TRUE" },
            { input: "9.876E+54", result: "TRUE" },
            { input: ".123E-46", result: "FALSE" },
            { input: "456.E+80", result: "FALSE" },
            { input: "98.7654E-12", result: "TRUE" },
          ],
        },
        {
          title: "16進数の数値にマッチ",
          constraints: ["A-Fは大文字でも小文字でもOK"],
          examples: ["^[0-9a-zfA-F]+$"],
          data: [
            { input: "0000", result: "TRUE" },
            { input: "01234", result: "TRUE" },
            { input: "1234", result: "TRUE" },
            { input: "12ACF", result: "TRUE" },
            { input: "12acf", result: "TRUE" },
            { input: "ABCDEF", result: "TRUE" },
            { input: "Ab123", result: "TRUE" },
            { input: "Ab12C", result: "TRUE" },
            { input: "12AB3", result: "TRUE" },
            { input: "123EFG", result: "FALSE" },
          ],
        },
        {
          title: "偶数にマッチ",
          constraints: ["+/-の符号は対象外", "先頭に余分な0がついてもよい"],
          examples: ["^\\d*[02468]$"],
          data: [
            { input: "1", result: "FALSE" },
            { input: "2", result: "TRUE" },
            { input: "3", result: "FALSE" },
            { input: "4", result: "TRUE" },
            { input: "45", result: "FALSE" },
            { input: "456", result: "TRUE" },
            { input: "4567", result: "FALSE" },
            { input: "2468", result: "TRUE" },
            { input: "159", result: "FALSE" },
            { input: "100", result: "TRUE" },
            { input: "0002", result: "TRUE" },
          ],
        },
        {
          title: "偶数にマッチ",
          constraints: ["+/-の符号も対象", "先頭に余分な0がついてもよい"],
          examples: ["^\\(d*[02468])(?=(\\D|$))"],
          data: [
            {
              input:
                "下一桁が02468の数字は偶数です。123は奇数で、234は偶数です。",
              result: "02468,234",
            },
          ],
        },
        {
          title: "奇数にマッチ",
          constraints: ["+/-の符号も対象", "前ゼロは除外"],
          examples: ["^\\(d*[13579])$"],
          data: [
            { input: "0", result: "FALSE" },
            { input: "1", result: "TRUE" },
            { input: "2", result: "FALSE" },
            { input: "3", result: "TRUE" },
            { input: "4", result: "FALSE" },
            { input: "45", result: "TRUE" },
            { input: "456", result: "FALSE" },
            { input: "4567", result: "TRUE" },
            { input: "2468", result: "FALSE" },
            { input: "159", result: "TRUE" },
            { input: "100", result: "FALSE" },
            { input: "0001", result: "FALSE" },
            { input: "0002", result: "FALSE" },
            { input: "-98", result: "FALSE" },
            { input: "-987", result: "FALSE" },
          ],
        },
        {
          title: "3桁ごとにカンマ付きで表される数字にマッチ",
          constraints: [
            "+/-の符号も対象",
            "先頭に余分な0がついてもよい",
            "符号付き0は対象",
          ],
          examples: ["^[+-]?\\d{1,3}(,\\d{3)$"],
          data: [
            { input: "123,456,789", result: "TRUE" },
            { input: "123,456", result: "TRUE" },
            { input: "1,234", result: "TRUE" },
            { input: "1,234,567", result: "TRUE" },
            { input: "1,23", result: "FALSE" },
            { input: "1,234,5", result: "FALSE" },
            { input: ",123", result: "FALSE" },
            { input: "123", result: "TRUE" },
            { input: "123,", result: "FALSE" },
            { input: "+98,765", result: "TRUE" },
            { input: "-98,765", result: "TRUE" },
            { input: "+98,7654", result: "FALSE" },
            { input: "-9,87", result: "FALSE" },
          ],
        },
        {
          title: "郵便番号にマッチ",
          constraints: ["ハイフンは省略可"],
          examples: ["^\\d{3}-?\\d{4}$"],
          data: [
            { input: "123-4567", result: "TRUE" },
            { input: "1234567", result: "TRUE" },
            { input: "12-3456", result: "FALSE" },
            { input: "987-6543", result: "TRUE" },
            { input: "9876-5432", result: "FALSE" },
            { input: "987-12345", result: "FALSE" },
            { input: "9876-1234", result: "FALSE" },
            { input: "98765433", result: "FALSE" },
          ],
        },
        {
          title: "郵便番号にマッチ",
          constraints: [
            "郵便番号は3桁、3+2桁、3+4桁がある",
            "ハイフンは省略可",
          ],
          examples: ["^(\\d{3}-?(\\d{4}|\\d{2})?$"],
          data: [
            { input: "123", result: "TRUE" },
            { input: "123-4", result: "FALSE" },
            { input: "123-45", result: "TRUE" },
            { input: "123-456", result: "FALSE" },
            { input: "123-4567", result: "TRUE" },
            { input: "1234567", result: "TRUE" },
            { input: "12-4567", result: "FALSE" },
            { input: "987-9542", result: "TRUE" },
            { input: "9876-1234", result: "FALSE" },
            { input: "987-12345", result: "FALSE" },
            { input: "9876-3232", result: "FALSE" },
            { input: "43456", result: "TRUE" },
            { input: "234321", result: "FALSE" },
            { input: "13464378", result: "FALSE" },
          ],
        },
        {
          title: "文章中の郵便番号にマッチ",
          constraints: ["郵便番号は3+4桁", "ハイフンは省略可"],
          examples: ["(?<=\\D|^)\\d{3}-?\\d{4}(?=\\D|$)(?!-)"],
          data: [
            { input: "郵便:123-4567住所:東京都123", result: "123-4567" },
            { input: "郵便:9876543電話:09012345678", result: "9876543" },
            { input: "電話:090-1234-5678", result: "" },
          ],
        },
        {
          title: "文章中の郵便番号にマッチ",
          constraints: [
            "郵便番号は3+4桁",
            "ハイフンは省略可",
            "〒のあとに続く7桁または3-4桁の数字は郵便番号とみなす",
          ],
          examples: [
            "((?<=)〒\\d{3}-?\\d{4}|(?<=\\D|^)\\d{3}-?\\d{4}(?<=(\\D|$))(?!-))",
          ],
          data: [
            { input: "郵便:123-4567住所:東京都123", result: "123-4567" },
            { input: "郵便:9876543電話:09012345678", result: "9876543" },
            { input: "電話:090-1234-5678", result: "" },
            { input: "〒123-4567-8901", result: "123-4567" },
            { input: "〒123456789", result: "1234567" },
          ],
        },
        {
          title: "携帯電話番号にマッチ",
          constraints: ["ハイフンは省略可", "090,080,070から始まる11桁"],
          examples: ["^0[789]0-?\\d{4}-?\\d{4}$"],
          data: [
            { input: "09012345678", result: "TRUE" },
            { input: "07012345678", result: "TRUE" },
            { input: "08012345678", result: "TRUE" },
            { input: "090-1234-5678", result: "TRUE" },
            { input: "080-1234-5678", result: "TRUE" },
            { input: "070-1234-5678", result: "TRUE" },
            { input: "090-12345678", result: "TRUE" },
            { input: "0901234-5678", result: "TRUE" },
            { input: "0901-2345678", result: "FALSE" },
            { input: "123-4567-8901", result: "FALSE" },
            { input: "090123456789", result: "FALSE" },
          ],
        },
        {
          title: "クレジットカード番号にマッチ",
          constraints: ["visaのクレカは13または16桁", "最初の1桁は4"],
          examples: ["^4(\\d{12}|\\d{15})$"],
          data: [
            { input: "4123456789012", result: "TRUE" },
            { input: "41234567890123", result: "FALSE" },
            { input: "4987654321098765", result: "TRUE" },
            { input: "49876543210987656", result: "FALSE" },
            { input: "1234567890123567", result: "FALSE" },
            { input: "4123456789", result: "FALSE" },
          ],
        },
        {
          title: "クレジットカード番号にマッチ",
          constraints: [
            "Masterのクレカは16桁で最初の2桁は51から55のどれか",
            "最初の1桁は4",
          ],
          examples: ["^5[1-5]\\d{}14$"],
          data: [
            { input: "2012345678901234", result: "FALSE" },
            { input: "5112345678901234", result: "TRUE" },
            { input: "5212345678901234", result: "TRUE" },
            { input: "5312345678901234", result: "TRUE" },
            { input: "5412345678901234", result: "TRUE" },
            { input: "5512345678901234", result: "TRUE" },
            { input: "5612345678901234", result: "FALSE" },
            { input: "521234567890123", result: "FALSE" },
            { input: "51123456789012345", result: "FALSE" },
          ],
        },
        {
          title: "時刻にマッチ",
          constraints: [
            "時刻は0時0分から23時59分まで",
            "時間が1桁の場合は前ゼロOK",
            "分が一桁の場合には必ず前ゼロつく",
          ],
          examples: ["^([01]?[0-9]|2[0-3]):[0-5][0-9]$"],
          data: [
            { input: "0.05", result: "TRUE" },
            { input: "0.523611111111111", result: "TRUE" },
            { input: "0.989583333333333", result: "TRUE" },
            { input: "25:20", result: "FALSE" },
            { input: "02:34", result: "TRUE" },
            { input: "00:00", result: "TRUE" },
            { input: "23:59", result: "TRUE" },
            { input: "24:00", result: "FALSE" },
            { input: "13:01", result: "TRUE" },
            { input: "12:1", result: "FALSE" },
            { input: "5:5", result: "FALSE" },
          ],
        },
        {
          title: "時刻にマッチ",
          constraints: [
            "時刻は0時0分0秒から23時59分59秒まで",
            "時間が1桁の場合は前ゼロOK",
            "分、秒が一桁の場合には必ず前ゼロつく",
          ],
          examples: ["^([01]?[0-9]|2[0-3]):[0-5][0-9](:[0-5][0-9])?$"],
          data: [
            { input: "1:12:34", result: "TRUE" },
            { input: "12:34:56", result: "TRUE" },
            { input: "23:45:67", result: "FALSE" },
            { input: "25:20:12", result: "FALSE" },
            { input: "02:34:56", result: "FALSE" },
            { input: "00:00:00", result: "TRUE" },
            { input: "0:00:00", result: "TRUE" },
            { input: "0:00", result: "FALSE" },
            { input: "1:2:3", result: "TRUE" },
            { input: "23:59:60", result: "FALSE" },
            { input: "13:01:2", result: "FALSE" },
          ],
        },
        {
          title: "日付にマッチ",
          constraints: [
            "西暦1000,2000年代を対象",
            "日付は月に関わらず31までとする",
            "月、日が一桁の場合前ゼロがついても良い",
          ],
          examples: ["^[12]\\d{3}/(0?[1-9]|1[0-2])/(0?[1-9]|[12][0-9]|3[01])$"],
          data: [
            { input: "2010/10/03", result: "TRUE" },
            { input: "1979/10/13", result: "TRUE" },
            { input: "2008/02/21", result: "TRUE" },
            { input: "2001/12/03", result: "TRUE" },
            { input: "2012/1/2", result: "TRUE" },
            { input: "2100/3/21", result: "TRUE" },
            { input: "1829/5/15", result: "TRUE" },
            { input: "1999/13/21", result: "FALSE" },
            { input: "2031/02/35", result: "FALSE" },
            { input: "894/01/01", result: "FALSE" },
          ],
        },
        {
          title: "YYYY/MM/DDにマッチ",
          constraints: [
            "デリミタは/.-(半角スペース)",
            "西暦1000,2000年代を対象",
            "日付は月に関わらず31までとする",
          ],
          examples: [
            "^[12]\\d{3}(/)(0?[1-9]|1[0-2])$1(0?[1-9]|[12][0-9]|3[01])$",
          ],
          data: [
            { input: "2010/10/03", result: "TRUE" },
            { input: "1979-10-13", result: "TRUE" },
            { input: "2008.02.21", result: "TRUE" },
            { input: "20011203", result: "TRUE" },
            { input: "2012.1.2", result: "TRUE" },
            { input: "2100-3/21", result: "FALSE" },
            { input: "1829.515", result: "FALSE" },
            { input: "1999/13-21", result: "FALSE" },
            { input: "2031-02.35", result: "FALSE" },
            { input: "894/01/01", result: "FALSE" },
          ],
        },
        {
          title: "一行分のテキストにマッチ",
          constraints: [""],
          examples: ["^.*$"],
          data: [
            {
              input: "welcometothenewworld,sir.",
              result: "welcometothenewworld,sir.",
            },
            {
              input: "こんにちは、私がドラえもんです",
              result: "こんにちは、私がドラえもんです",
            },
            {
              input: "隣の客はよく柿食う客だ",
              result: "隣の客はよく柿食う客だ",
            },
          ],
        },
        {
          title: "Hello!を含む行にだけマッチ",
          constraints: [""],
          examples: [".*Hello!.*$"],
          data: [
            { input: "welcometothenewworld,sir.", result: "FALSE" },
            { input: "こんにちは、私がドラえもんです", result: "FALSE" },
            { input: "隣の客はよく柿食う客だ", result: "FALSE" },
            { input: "Hello!", result: "TRUE" },
          ],
        },
        {
          title: "空行マッチ",
          constraints: [""],
          examples: ["\\s*$"],
          data: [
            { input: "welcometothenewworld,sir.", result: "FALSE" },
            { input: "", result: "TRUE" },
            { input: "隣の客はよく柿食う客だ", result: "FALSE" },
            { input: "Hello!", result: "FALSE" },
          ],
        },
        {
          title: "ダブルクオートに囲まれた部分を抽出",
          constraints: [""],
          examples: ['"(\\.|[^\\")*"'],
          comments:
            "バックスラッシュまたはダブルクオート以外の任意の文字またはスラッシュに続く任意の文字TODOaddmoretestcase",
          data: [
            {
              input: 'Tarosaid"Ihavea"great"idea."',
              result: 'Ihavea"great"idea.',
            },
            { input: 'Thisis"thatone".', result: "thatone" },
          ],
        },
        {
          title: "カッコに囲まれた中身を抽出",
          constraints: [""],
          examples: ["(?<=\\()((?!\\)).)*"],
          data: [
            {
              input: "隣(となり)の客(きゃく)はよく柿(かき)食(く)う客(きゃく)だ",
              result: "となり,きゃく,かき,く,きゃく",
            },
          ],
        },
        {
          title: "key=valを抽出",
          constraints: [""],
          examples: ["(\\w+)\\s*=\\s*(.+)"],
          data: [
            { input: "FirstName=太郎", result: "FirstName,太郎" },
            { input: "FamilyName=戯評", result: "FamilyName,戯評" },
            { input: "Age=25", result: "Age,25" },
            { input: "Hobby=プログラミング", result: "Hobby,プログラミング" },
            { input: "MostInterested=", result: "" },
            { input: "戯評太郎", result: "" },
          ],
        },
        {
          title: "2回以上で出現する英単語",
          constraints: [""],
          examples: ["\b(\\w+)\\s+$1\b"],
          data: [
            { input: "Thisisisapen", result: "isis" },
            { input: "ThisThisisapenpenpen", result: "ThisThis,penpenpen" },
          ],
        },
        {
          title: "HTMLのタグを抽出",
          constraints: [""],
          examples: ["<([^'\">]|\"[^\"]*\"|'[^']*')>"],
          data: [
            {
              input:
                '<strong><ahref="http://gihyo.jp/">gihyo.jp</a></strong>は、技術評論社の<em>コンテンツサイト</em>並びに技術評論社発行の<em>書籍雑誌公式サイト</em>です',
              result:
                '<strong>,<ahref="http://gihyo.jp/">,</a>,</strong>,<em>,</em>,<em>,</em>',
            },
          ],
        },
        {
          title: "ネストのないタグをタグ込みで抽出",
          constraints: [""],
          examples: ["<(\\w+)(\\s+([^\"'>]|\"[^\"]*\"|'[^']*'))*>.*?</$1>"],
          data: [
            {
              input:
                '<strong><ahref="http://gihyo.jp/">gihyo.jp</a></strong>は、技術評論社の<em>コンテンツサイト</em>並びに技術評論社発行の<em>書籍雑誌公式サイト</em>です',
              result:
                '<ahref="http://gihyo.jp/">gihyo.jp</a>,<em>コンテンツサイト</em>,<em>書籍雑誌公式サイト</em>',
            },
          ],
        },
        {
          title: "ファイルパスにマッチ",
          constraints: [
            "区切り文字がないものは除外",
            "絶対パス、相対パス双方を対象",
          ],
          examples: [".*/"],
          data: [
            { input: "/usr/home/gihyo/.zshrc", result: "TRUE" },
            { input: "/usr/home/gihyo/", result: "TRUE" },
            { input: "../logs/error.log", result: "TRUE" },
            { input: "~/work/manuals/usermanual.html", result: "TRUE" },
            { input: "./work/manuals/usermanual.html", result: "TRUE" },
            { input: "nppath.txt", result: "FALSE" },
          ],
        },
        {
          title: "ディレクトリパスを抽出",
          constraints: [
            "区切り文字がないものは除外",
            "絶対パス、相対パス双方を対象",
          ],
          examples: ["(.*)/"],
          data: [
            { input: "/usr/home/gihyo/.zshrc", result: "/usr/home/gihyo/" },
            { input: "/usr/home/gihyo/", result: "/usr/home/gihyo/" },
            { input: "../logs/error.log", result: "../logs/" },
            {
              input: "~/work/manuals/usermanual.html",
              result: "~/work/manuals/",
            },
            {
              input: "./work/manuals/usermanual.html",
              result: "./work/manuals/",
            },
            { input: "nppath.txt", result: "" },
          ],
        },
        {
          title: "ファイル名を抽出",
          constraints: [
            "区切り文字がないものは除外",
            "絶対パス、相対パス双方を対象",
          ],
          examples: ["(?<=/)([^/]*)"],
          data: [
            { input: "/usr/home/gihyo/.zshrc", result: ".zshrc" },
            { input: "/usr/home/gihyo/", result: "" },
            { input: "../logs/error.log", result: "error.log" },
            {
              input: "~/work/manuals/usermanual.html",
              result: "usermanual.html",
            },
            {
              input: "./work/manuals/usermanual.html",
              result: "usermanual.html",
            },
            { input: "nppath.txt", result: "nppath.txt" },
          ],
        },
        {
          title: "jpg/png/gifのいずれかの拡張子をもつファイルパスにマッチ",
          constraints: [
            "区切り文字がないものは除外",
            "絶対パス、相対パス双方を対象",
          ],
          examples: ["^[^/]*(/[^/]+)+\\.(jpg|png|gif)(?=\\s|$)"],
          data: [
            { input: "/usr/home/gihyo/gihyo.png", result: "TRUE" },
            { input: "/usr/home/gihyo/gihyo.jpg", result: "TRUE" },
            { input: "../logs/error.log", result: "FALSE" },
            { input: "~/work/manuals/usermanual.html", result: "FALSE" },
            { input: "./work/manuals/gihyo.gif", result: "TRUE" },
            { input: "nopath.txt", result: "FALSE" },
            { input: "/hoge.jpg/image.jpg", result: "TRUE" },
            { input: "hoge.jpg/text.txt", result: "FALSE" },
          ],
        },
        {
          title: "jpg/png/gifのいずれか以外拡張子をもつファイルパスにマッチ",
          constraints: [
            "区切り文字がないものは除外",
            "絶対パス、相対パス双方を対象",
          ],
          examples: ["^[^/]*(/[^/]+)+\\.(?!jpg|png|gif)(?=\\s|$)"],
          data: [
            { input: "/usr/home/gihyo/gihyo.png", result: "FALSE" },
            { input: "/usr/home/gihyo/gihyo.jpg", result: "FALSE" },
            { input: "../logs/error.log", result: "TRUE" },
            { input: "~/work/manuals/usermanual.html", result: "TRUE" },
            { input: "./work/manuals/gihyo.gif", result: "FALSE" },
            { input: "nopath.txt", result: "TRUE" },
            { input: "/hoge.jpg/image.jpg", result: "FALSE" },
            { input: "hoge.jpg/text.txt", result: "TRUE" },
          ],
        },
        {
          title: "URLからプロトコル、ホスト名、ポート、パス、クエリを抽出",
          constraints: ["認証を含む"],
          examples: [
            "^(https?)://([a-zA-Z0-9-_.])+(:\\d+)?/([a-zA-Z0-9.-_/]*(\\?[a-zA-Z0-9]+=[a-zA-Z0-9]+(&[a-zA-Z0-9]+=[a-zA-Z0-9]+)?))$",
          ],
          data: [
            { input: "http://www.example.jp/sample.html", result: "TRUE" },
            {
              input: "http://www.example.jp/with_fragment.html#frag",
              result: "TRUE",
            },
            { input: "http://www.example.jp/images/image.png", result: "TRUE" },
            { input: "http://www.example.jp/", result: "TRUE" },
            {
              input: "http://www.example.jp:8080/with_port.html",
              result: "TRUE",
            },
            {
              input: "http://www.example.jp/with_param.html?param1=value1",
              result: "FALSE",
            },
            {
              input:
                "http://www.example.jp/with_param.html?param1=value1&param2=value2",
              result: "",
            },
            {
              input:
                "http://www.example.jp/with_param.html?param1=&param2=value2",
              result: "",
            },
            {
              input: "http://user:pass@www.example.jp/sample.html",
              result: "",
            },
          ],
        },
        {
          title: "IPv4にマッチ",
          constraints: [
            "2桁以下の場合、先頭を0で埋めてもよい",
            "各セグメントは[0,255]",
          ],
          examples: [
            "^(([01]?\\d\\d|2[0-4]\\d|25[0-5])\\.){3}([01]?\\d\\d|2[0-4]\\d|25[0-5])$",
          ],
          data: [
            { input: "202.216.221.230", result: "TRUE" },
            { input: "192.168.121.111", result: "TRUE" },
            { input: "1.2.3.4", result: "TRUE" },
            { input: "12.34.56.78", result: "TRUE" },
            { input: "021.255.1.34", result: "TRUE" },
            { input: "002.34.56.123", result: "TRUE" },
            { input: "123.54.63.0", result: "TRUE" },
            { input: "0.0.0.0", result: "TRUE" },
            { input: "202.257.123.4", result: "FALSE" },
          ],
        },
        {
          title: "メールアドレスにマッチ",
          constraints: [
            "ユーザー@ホスト.トップレベルドメインの形式。",
            "ユーザー名に利用可能なのは英数字大文字小文字及び_-.のみ",
            "ホスト名に利用可能なのは英数字大文字小文字及び-.のみ",
          ],
          examples: ["^[\\w\\-\\.]+@[a-zA-Z0-9\\-\\.]+\\.[a-zA-Z]+$"],
          data: [
            { input: "taro@gihyo.jp", result: "TRUE" },
            { input: "jiro@gihyo.co.jp", result: "TRUE" },
            { input: "gihyo-taro@example.co.jp", result: "TRUE" },
            { input: "I_Love_NewYork.@example.org", result: "TRUE" },
            { input: "Ryoma=Sakamoto@tosa.ac.jp", result: "FALSE" },
            { input: "_gihyo-taro@example.co.jp", result: "FALSE" },
          ],
        },
      ];
    </script>

    <script>
      window.app = new Vue({
        el: "#app",
        data: {
          currentProblemIdx: 0,
          regexp: "",
          mode: "random",
          showHint: false,
          scores: Array(window.problems.length),
          problemsSize: 0,
        },
        methods: {
          matching(input) {
            if (this.regexp === "") return false;
            return RegExp(this.regexp).test(String(input));
          },
          checkAnswer(input, result) {
            return this.matching(input) == this.expectedBoolean(result);
          },
          expectedBoolean(result) {
            if (result === "TRUE") {
              return true;
            } else if (result === "FALSE") {
              return false;
            } else {
              throw "invalid input"; // todo; t/f以外にも対応する
            }
          },
          next() {
            this.scores[this.currentProblemIdx] = true;
            if (this.mode === "random") {
              this.randomNext();
            } else if (this.mode == "sequential") {
              this.sequentialNext();
            }
          },
          randomNext() {
            const nextIdx = Math.floor(Math.random() * window.problems.length);
            this.currentProblemIdx = nextIdx;
          },
          sequentialNext() {
            this.currentProblemIdx =
              this.currentProblemIdx == window.problems.length - 1
                ? 0
                : this.currentProblemIdx + 1;
          },
          moveTo(idx) {
            this.currentProblemIdx = idx;
          },
        },
        mounted() {
          this.problemsSize = window.problems.length;
        },
        computed: {
          problem() {
            return window.problems[this.currentProblemIdx];
          },
          isAllCorrect() {
            return this.problem.data.every((item) => {
              return this.checkAnswer(item.input, item.result);
            });
          },
        },
      });
    </script>
  </body>
</html>
